@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --netflix-red: #e50914;
  --netflix-black: #141414;
  --netflix-dark: #000000;
}

body {
  color: #ffffff;
  background: var(--netflix-black);
  font-family: 'Netflix Sans', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
